.business-collaborator-body {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.collaborator-body-item {
  --column: 2;
  width: calc((100% / var(--column)) - 2px);
  border: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1400px) {
    --column: 1;
  }
}

.collaborator-name .collaborator-select {
  width: 100%;
  border-radius: 4px;
}

.general-information-header {
  margin-bottom: 14px;
}

.general-information-header .header-icon {
  width: 19.5px;
  margin-right: 12px;
}

.general-information-header .header-title {
  font-size: 16px;
}

.body-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 8px;
}

.body-item-title span:first-child {
  font-weight: 500;
}

.body-item-title .required,
.industry-title .required {
  color: #f5222d;
}

.body-item-table {
  flex: 1;
}

.body-item-top .body-item-button,
.body-item-table-item .body-item-action {
  border: 0;
  background-color: transparent;
}

.body-item-top .body-item-button:hover,
.body-item-table-item .body-item-action:hover {
  background-color: transparent;
}

.body-item-button .anticon {
  font-size: 20px;
  color: #2196f3 !important;
}

.body-item-table .header-row th {
  background-color: #ebf3ff;
}

.body-item-table-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-item-table-item .body-item-action .anticon {
  font-size: 20px;
}

.business-industry {
  margin-top: 14px;
}

.business-industry-body {
  display: flex;
  gap: 2px;
}

.business-information-top {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.business-information-top-left,
.business-information-top-right {
  width: 50%;
  background-color: #ebf3ff;
  padding: 8px;
}

.information-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.information-item:last-child {
  margin-bottom: 0;
}

.information-right {
  background-color: #f5f5f5;
  width: 40%;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  padding: 0 8px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 22px;
}

.information-right.custom-planning-date-information {
  padding: 0;
}

.industry-input-group {
  background-color: #ebf3ff;
}

.business-industry-domain {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  gap: 16px;
}

.business-industry-domain .industry-select {
  width: 100%;
}

.business-industry-currency {
  padding: 0 16px;
  border-radius: 4px;
}

.industry-item-input,
.industry-select-currency {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  gap: 16px;
}

.industry-select-currency .industry-select,
.business-industry-domain .industry-select {
  width: 300px;

  @media screen and (max-width: 1400px) {
    width: 180px !important;
  }
}

.industry-input .ant-input-number.industry-input-number {
  width: 300px !important;

  @media screen and (max-width: 1400px) {
    width: 180px !important;
  }
}

.industry-input {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.body-item-table .ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0;
}

.industry-item-input .industry-input .ant-input-number-input-wrap input {
  font-weight: 600;
}

.business-industry-select {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
