.business-plan-request-table .custom-table .ant-table-small>.ant-table-content>.ant-table-body>table>.ant-table-thead>tr>th {
  background-color: #ebf3ff;
  border-right: 1px solid #e1e1e1;
}

.business-plan-request-table .business-version {
  background-color: #338bf8;
  color: #fff;
  border-radius: 6px;
  padding: 0 6px;
}

.business-plan-request-table .business-status {
  width: 87px;
}

.business-plan-request-table .ant-table-small>.ant-table-content>.ant-table-body {
  margin: 0;
}
