.ant-layout-header {
  background: #1890ff;
  padding: 0 24px;
  height: 64px;
  line-height: 64px;
}

.ant-layout-sider {
  background: #fff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
}

.ant-layout-content {
  margin: 0;
  overflow: initial;
}
